<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather page</title>
    <!-- Посилання на Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{{>header}}
<div class="container">
    <h1 class="mt-5 mb-3">Choose a City</h1>
    <div class="list-group">
        <a class="list-group-item list-group-item-action" href="/weather?city=Kyiv">Kyiv</a>
        <a class="list-group-item list-group-item-action" href="/weather?city=Zhytomyr">Zhytomyr</a>
        <a class="list-group-item list-group-item-action" href="/weather?city=Vinnytsia">Vinnytsia</a>
    </div>
</div>
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Weather in {{city}}</h1>
            <img src="https://openweathermap.org/img/wn/{{weather.weather.0.icon}}@2x.png" class="card-img-top" alt="Weather icon" style="max-width: 100px;"> <!-- Зменшення розміру іконки -->
            <p class="card-text">Temperature: {{weather.main.temp}}°C</p>
        </div>
    </div>
</div>
{{>footer}}

<!-- Посилання на Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
