<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
<section>
  <div class="container-fluid">
    <div class="row">
      <div id="sidebar" class="col-4 vh-100 bg-info p-4">

      </div>

      <div id="chat" class="col-8 d-flex flex-column flex-grow-1 vh-100 p-0">

        <div id="messages" class="flex-grow-1">

        </div>
        <div id="typing-message"></div>
        <div id="compose">
          <form id="message-form" class="form-inline">


            <div class="form-group flex-grow-1">
              <input type="text" name="message" placeholder="Message" required autocomplete="off">
            </div>
            <div class="form-group">
              <button class="btn btn-warning btn-lg">Send</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>



</section>

<script id="message-template" type="text/html">
  <div class="alert message {{bgClass}}">
    <div>
      <span class="avatar">{{avatar}}</span>
      <span class="message-name">{{username}}</span>
      <span class="message-meta">{{createdAt}}</span>
    </div>
    <div>{{message}}</div>
  </div>
</script>

<script id="sidebar-template" type="text/html">
  <div class="alert alert-primary">
    Room: <strong>{{room}}</strong><br>
    Username: <strong>{{currentUser}}</strong>
  </div>

  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">Users in the chatroom</li>
    {{#users}}
    <li class="list-group-item">
      <span class="avatar">{{avatar}}</span> {{username}}
    </li>
    {{/users}}
  </ul>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.1.0/mustache.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.1/qs.min.js"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
  //elements
  const $messageForm = document.querySelector("#message-form")
  const $messageFormInput = $messageForm.querySelector("input");
  const $messageFormButton = document.querySelector("button")
  const $messages = document.querySelector("#messages")

  //Templates
  const messageTemplate = document.querySelector("#message-template").innerHTML
  const sidebarTemplate = document.querySelector('#sidebar-template').innerHTML

  // Options
  const { username, room } = Qs.parse(location.search, { ignoreQueryPrefix: true })

  var socket = io();

  socket.on('message', (message) => {
    console.log(message)
    let bgClass = 'bg-warning text-white'
    if (message.username == username.toLowerCase()) {
      bgClass = 'bg-success text-white pull-right'
    } else if (message.username == 'Admin') {
      bgClass = 'bg-info text-white'
    }

    const html = Mustache.render(messageTemplate, {
      username: message.username,
      message: message.text,
      bgClass: bgClass,
      avatar: message.avatar,
      createdAt: moment(message.createdAt).format('h:mm a')
    })
    $messages.insertAdjacentHTML('beforeend', html)
  })

  socket.on('roomData', ({ users }) => {
    const html = Mustache.render(sidebarTemplate, {
      room,
      currentUser: username,
      users
    })
    document.querySelector('#sidebar').innerHTML = html
  })
  let typingTimer;

  $messageFormInput.addEventListener('input', () => {
    socket.emit('userIsTyping');
    clearTimeout(typingTimer);
    typingTimer = setTimeout(() => {
      // Після 2 секунд бездіяльності видаліть повідомлення про те, що користувач пише
      const typingMessage = document.querySelector('#typing-message');
      typingMessage.textContent = '';
    }, 2000);
  });
  socket.on('userIsTyping', (username) => {
    const typingMessage = document.querySelector('#typing-message');
    typingMessage.textContent = `${username} is typing...`;
  });

  $messageForm.addEventListener('submit', (e) => {
    e.preventDefault();

    const message = e.target.elements.message.value;

    // Перевіряємо, чи є повідомлення приватним
    if (message.startsWith('@')) {
      const username = message.split(':')[0].substring(1);
      const text = message.split(':')[1].trim();
      socket.emit('sendPrivateMessage', { recipient: username, text }, (error) => {
        if (error) {
          return console.log(error);
        }
        console.log('Private message delivered!');
      });
    } else {
      // Якщо повідомлення не приватне, відправляємо його звичайним шляхом
      socket.emit('sendMessage', message, (error) => {
        if (error) {
          return console.log(error);
        }
        console.log('Message delivered!');
      });
    }

    $messageFormInput.value = '';
    $messageFormInput.focus();
  });

  socket.emit('join', { username, room }, (error) => {
    if (error) {
      alert(error)
      location.href = '/'
    }
  })

</script>
</body>
</html>