<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Посилання на Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header class="container-fluid bg-dark text-light py-3">
    <div class="container">
        <h1 class="mb-0">Home</h1>
        <a href="/" class="btn btn-light">Home</a>
    </div>
</header>

<header class="container-fluid bg-dark text-light py-3">
    <div class="container">
        <h1 class="mb-0">Weather</h1>
        <a href="/weather?city=Kyiv" class="btn btn-light">Check Weather</a>
    </div>
</header>

<!-- Посилання на Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
